#imgService{
  border: 1px solid #000000;
}

.text-modif{
  margin-left: 20px;
  margin-top: 25px;
}

.msgService{
  color: #FF4A07;
  margin-left: 25px;
}

input{
  border: 1px solid #000000;
  padding: 5px;
}

.input-td{
  width: 98%;
  height: auto;
}

#description{
  width: 792px;
  height: 100px;
  font-size: 22px;
  color: #000000;
}

textarea{
  resize: none;
  border: 1px solid #000000;
  padding: 5px;
}

.img-update{
  display: inline-block;
  width: 212px;
  height: 50px;
  margin-left: 20px;
  padding-left: 5px;
  border: 1px solid #000000;
}

.cata-gauche{
  height: 168px;
}

.cata-haut{
  height: 178px;
}

.camera{
  display: inline-block;
  width: 40%;
  font-size: 36px;
  text-align: right;
}

.fa{
  cursor: pointer;
}

.text-img-u{
  display: inline-block;
  width: 50%;
}

.tarif-heure{
  display: inline-block;
  margin-left: 20px;
}

.label-service{
  font-size: 22px;
}

#prix{
  color: #09AAC1;
  font-size: 22px;
  text-align: right;
  width: 100px;
}

#heure{
  color: #FF9F07;
  font-size: 22px;
  text-align: right;
  width: 75px;
}

.activer-service{
  display: inline-block;
  position: relative;
  margin-left: 255px;
  margin-top: 15px;
  font-size: 22px;
  user-select: none;
}

.activer-service > input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark{
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border: 1px solid #000000;
  padding-left: 7px;
}

.checkmark::after{
  display: inline;
  content: attr(data-content);
  color: #09AAC1;
  font-weight: bold;
}

.text-activer{
  color: #09AAC1;
  font-size: 22px;
  margin-left: 35px;
}

.button-contain{
  display: block;
  width:180px;
  text-align:left;
  margin-left: 900px;
  margin-top: 15px;
}

.text-button{
    font-size: 26px;
    width: 160px;
    border: 1px solid #FF8C00;
    border-radius: 2em;
    height: 2em;
    background-image: linear-gradient(#FFFAFB, #FF9F07);
    color: white;
}

#file-input{
  display: none;
}

.error{
  color: #FF4A07;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
